<style>
    th,td{
        background-color: beige;
    }
    .form {
position: relative;
z-index: 1;
background: #FFFFFF;
max-width: 360px;
margin: 0 auto 100px;
padding: 45px;
text-align: center;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
font-family: "Roboto", sans-serif;
outline: 0;
background: #f2f2f2;
width: 100%;
border: 0;
margin: 0 0 15px;
padding: 15px;
box-sizing: border-box;
font-size: 14px;
}

</style>
<div align:center>
    <div>
        <hr>
        <div *ngIf=flag style="width:50%; background-color:burlywood">
        <h3>Update product</h3>
        <form (ngSubmit)="updateProductName()"> 
            <input type="number" name="pid" [(ngModel)]=pid readonly><br>
            <input type="text" name="pname" [(ngModel)]=pname ><br>
            <input type="number" name="price"  placeholder="price"><br>
            <input type="number" name="prodquantity" [(ngModel)]=prodquantity  placeholder="Quantity"><br>
            <input type="text" name="url" [(ngModel)]=url ><br>
            <input type="submit"value="Update Product">
        </form>
        </div>
    </div>
 <br>
   <table style="width:80%">
    <tr style="background-color: pink;">
        <th>Product Id</th>
        <th>product Name</th>
        <th>price</th>
        <th>Product type</th>
        <th>Product Quantity</th>
        <th>Image</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    <tr *ngFor="let uu of product">
        <td>{{uu.pid}}</td>
        <td>{{uu.pname}}</td>
        <td>{{uu.price}}</td>
        <td>{{uu.prodtype}}</td>
        <td>{{uu.prodquantity}}</td>
        <td><img src={{uu.url}} width="300px" height="300px"></td>
        <td><input type="button" value="Delete"(click)="deleteProduct(uu.pid)"></td>
        <td><input type="button" value="Update"(click)="updateProduct(uu)"></td>
    </tr>
   </table>
   <div >
    <hr>
    <div *ngIf=flag1 style="width:50%; background-color:rgb(160, 184, 212)" text-align:center>
    <h3>Add New Product</h3>
    <form #productRef="ngForm" (ngSubmit)="addProductdetails(productRef)"> 
        <input type="text" name="pname" placeholder="Product Name"  ngModel><br>
        <input type="number" name="price"  placeholder="price"  ngModel><br>
        <input type="text" name="prodtype" placeholder="product type"  ngModel><br>
        <input type="number" name="proquantity" placeholder="Product Quantity"  ngModel ><br>
        <input type="text" name="url" placeholder="Url Of Image"  ngModel><br>
        <input style="background-color: #ca5aae;" type="submit"value="storeProduct">
    </form>
    </div>
    {{productMsg}}
    {{updateMsg}}
    {{deleteMsg}}
</div>
    <h6 style="cursor: pointer;"><input style="background-color: #ca5aae;" type="button" value="AddNew Product"(click)="addProduct()"></h6>
</div>