<hr>
<div>
    <table style="width:80%">
        <tr style="background-color: pink;">
            <th>Product Id</th>
            <th>product Name</th>
            <th>Product left</th>
        </tr>
        <tr *ngFor="let uu of product">
            <td>{{uu.pid}}</td>
            <td>{{uu.pname}}</td>
            <td>{{uu.prodquantity}}</td>
        </tr>
    </table>
</div>
