<div>
  <h3>SHOP FOR HOME</h3>  
  <div align="right">
    <a href="">HOME</a> |
    <a href="userlogin">LOGIN</a>  |
    <a href="usersignup">SIGNUP</a> |
    <a href="">LOGOUT</a>
  </div>
</div>
<router-outlet></router-outlet>
