<style>
    th,td{
        background-color: beige;
    }
    tr,td{
        border-radius: 10px;
        border-color: rgb(106, 92, 92);
        border:2px;
        padding: 10px;
        margin-right: 40px;
        border-style: solid;
         border-width: small;
    }
</style>
<div align:center>
    <div>
        <hr>
        <div *ngIf=flag style="width:50%; background-color:burlywood">
        <h3>Update User</h3>
        <form (ngSubmit)="updateUserName()"> 
            <input type="number" name="uid" [(ngModel)]=uid readonly><br>
            <input type="text" name="email" [(ngModel)]=email readonly><br>
            <input type="text" name="name" [(ngModel)]=name  placeholder="Name"><br>
            <input type="submit"value="Update User">
        </form>
        </div>
    </div>
 <br>
   <table style="width:80%">
    <tr style="background-color: pink;">
        <th>UserId</th>
        <th>Email</th>
        <th>Name</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    <tr *ngFor="let uu of user">
        <td>{{uu.uid}}</td>
        <td>{{uu.email}}</td>
        <td>{{uu.name}}</td>
        <td><input type="button" value="Delete"(click)="deleteUser(uu.uid)"></td>
        <td><input type="button" value="Update"(click)="updateUser(uu)"></td>
    </tr>
   </table>
   {{deleteMsg}}
   {{updateMsg}}
 
</div>