<style>
    div{
        text-align: center;
        align-content: center;
        text-decoration: wavy;
    }
    table{
        border-radius: 10px;
        border-color: rgb(27, 22, 22);
        border:2px;
        padding: 30px;
        border-style: solid;
         border-width: small;}
    tr,td{
        border-radius: 10px;
        border-color: rgb(27, 22, 22);
        border:2px;
        padding: 20px;
        margin-right: 40px;
        border-style: solid;
         border-width: medium;
    }
</style>
<hr>
<div >
    <h3 style="color: rgb(9, 103, 71);">Welcome Admin yoy are login successfully</h3>
    <p>what operation you want to perform</p>
    <div style="text-align: center;">
        <table>
            <tr>
            <td>PERFORM CRUD ON USER</td><td><button><a href="user-crud">user crud</a></button></td>
            </tr>
            <tr>
            <td>PERFORM CRUD ON PRODUCT</td><td><button><a href="product-crud">product crud</a></button></td>
            </tr>
            <tr>
            <td>GET PRODUCT STOCK</td><td><button><a href="get-stock">get-stock</a></button></td>
            </tr>
            <tr>
            <td>UPLOAD BULK CSV FILE FROM HERE</td><td><button><a>add csv file</a></button></td>
            </tr>
            <tr>
             <td>SALES RECORD FOR SPECIFIC DURATION</td><td><button><a href="get-sales-report">Sales report</a></button></td>
            </tr>
            <tr>
            <td>SET DISCOUNT COUPONS</td><td><button><a>set discount</a></button></td>
            </tr>
           
        </table>
        
    </div>
</div>
