<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
header .header{
  background-color: #fff;
  height: 45px;
}
header a img{
  width: 134px;
margin-top: 4px;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login-page .form .login{
  margin-top: -31px;
margin-bottom: 26px;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #328f8a;
  background-image: linear-gradient(45deg,#328f8a,#cf56bb);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 15px 0 0;
  color: #131615;
  font-size: 12px;
}
.form .message a {
  color: #2ebc33;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
body{
background-color: #328f8a;
padding-bottom: 20px;
}

</style>
</head>
<body>
    <div class="login-page">
      <div class="form">
        <div class="login">
          {{userss}}
          <div class="login-header">
            <h3>ADMIN LOGIN PAGES</h3>
            <p>Please enter your credentials to login.</p>
          </div>
        </div>
        <form action="login" [formGroup]=adminLoginRef (ngSubmit)="checkUser()">
          <input type="email" formControlName="email" placeholder="email"required>
          <input type="password" formControlName="passward" placeholder="PASSWARD" required>
          <button type="submit">login</button>
          <p class="message">Admin Not Registered? <a href="adminsignup">Create an account</a></p>
        </form>
      </div>
    </div>
</body>
</html>