<style>
  th,td{
      background-color: beige;
  }
  table{
        border-radius: 10px;
        border-color: rgb(27, 22, 22);
        border:2px;
        padding: 30px;
        margin: 40px;
        width:100%;
        border-style: solid;
         border-width: small;}
    tr,td{
        border-radius: 10px;
        border-color: rgb(27, 22, 22);
        border:2px;
        padding: 20px;
        margin: 40px;
        border-style: solid;
         border-width: medium;
    }
  .form {
position: relative;
z-index: 1;
background: #FFFFFF;
max-width: 360px;
margin: 0 auto 100px;
padding: 45px;
text-align: center;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
font-family: "Roboto", sans-serif;
outline: 0;
background: #f2f2f2;
width: 100%;
border: 0;
margin: 0 0 15px;
padding: 15px;
box-sizing: border-box;
font-size: 14px;
}

</style>
<hr>
<div style="text-align: right;" >
  <input type="button" value="wishlist"(click)="showWishList()">
  <form *ngIf=flag1 (ngSubmit)="showlessProduct()">
  <table style="width:80%">
    <tr style="background-color: rgb(140, 80, 90);">
        <th>Product Id</th>
        <th>product Name</th>
        <th>price</th>
        <th>Product type</th>
        <th>Image</th>
        <th>     </th>
        <th>addcart</th>
        
    </tr>
    <tr *ngFor="let uu of wishList">
        <td>{{uu.pid}}</td>
        <td>{{uu.pname}}</td>
        <td>{{uu.price}}</td>
        <td>{{uu.prodtype}}</td>
        <td><img src={{uu.url}} width="300px" height="300px"></td>
        <td><input type="button" value="remove wishlist" (click)="deleteWishlist(uu.pid)"></td>
        <td><input type="button" value="add cart"></td>
      </tr>
      </table>
      <input type="submit"value="show less"><hr>
      </form>
      
        |    |
  

      <input type="button" value="Cart Items"(click)="showcartList()">
      <form *ngIf=flag2 (ngSubmit)="showlessProductcart()">
      <table style="width:80%">
        <tr style="background-color: rgb(140, 80, 90);">
            <th>Product Id</th>
            <th>product Name</th>
            <th>price</th>
            <th>Product type</th>
            <th>Product Quantity</th>
            <th>Image</th>
            <th>Remove Cart </th>
            
            
        </tr>
        <tr *ngFor="let uu of cartList">
            <td>{{uu.pid}}</td>
            <td>{{uu.pname}}</td>
            <td>{{uu.price}}</td>
            <td>{{uu.prodtype}}</td>
            <td>{{uu.prodquantity}}</td>
            <td><img src={{uu.url}} width="300px" height="300px"></td>
            <td><input type="button" value="remove Cart" (click)="deleteCart(uu.pid)"></td>
          </tr>
          </table>
          <input type="submit"value="show less">
          </form>
</div>
{{deleteMsg}}




<hr>
{{aWishlist}}
{{acart}}
<div align:center>
  
<br>
<h2 style="text-align:center; color:rgb(77, 47, 9)">All Products are</h2>
 <table style="width:80%">
  <tr style="background-color: pink;">
      <th>Product Id</th>
      <th>product Name</th>
      <th>price</th>
      <th>Product type</th>
      <th>Product Quantity</th>
      <th>Image</th>
      <th>addcart</th>
      <th>Addwish list</th>
  </tr>
  <tr *ngFor="let uu of product">
      <td>{{uu.pid}}</td>
      <td>{{uu.pname}}</td>
      <td>{{uu.price}}</td>
      <td>{{uu.prodtype}}</td>
      <td>{{uu.prodquantity}}</td>
      <td><img src={{uu.url}} width="300px" height="300px"></td>
      <td><input type="button" value="AddCart"(click)="addCartProduct(uu)">
        <form *ngIf=flag (ngSubmit)="addcartProductName()"> 
          <input type="hidden" name="pid" [(ngModel)]=uu.pid readonly><br>
          <input type="hidden" name="pname" [(ngModel)]=uu.pname ><br>
          <input type="hidden" name="price" [(ngModel)]=uu.price  ><br>
          <input type="hidden" name="prodcategory" [(ngModel)]=uu.prodtype ><br>
          <input type="hidden" name="prodquantity" [(ngModel)]=uu.prodquantity ><br>
          <input type="hidden" name="date" [(ngModel)]=uu.prodquantity ><br>
          <input type="hidden" name="url" [(ngModel)]=uu.url ><br>
          <input type="submit"value="r u sure">
      </form>
      </td>
      <td><input type="button" value="ADD WISHLIST"(click)="AddWishlistProduct(uu)">
        <form *ngIf=flag3 (ngSubmit)="addWishList()"> 
          <input type="hidden" name="pid" [(ngModel)]=uu.pid readonly><br>
          <input type="hidden" name="pname" [(ngModel)]=uu.pname ><br>
          <input type="hidden" name="price" [(ngModel)]=uu.price  ><br>
          <input type="hidden" name="prodcategory" [(ngModel)]=uu.prodtype ><br>
          <input type="hidden" name="url" [(ngModel)]=uu.url ><br>
          <input type="submit"value="r u sure">
      </form>
      </td>
      </tr>
 </table>

</div>
<div>
  <hr>
 


<!-- <table>
<ul class="image-list-small" *ngFor="let uu of product">
    <li>
      <a href="" style="background-image: url('img/image-1.jpg');"></a>
      <div class="details">
        <h3><a href="#">In the subway</a></h3>
        <p class="image-author">product.pid</p>
        
      </div>
      <input type="button" value="Add Cart"(click)="AddCartProduct(uu.pid)">
    <input type="button" value="Add WishList"(click)="updateProduct(uu)">

    </li>
    </ul>
  </table> -->